assignment2/**
!assignment2/client.c
!assignment2/server.c

assignment3/discord-front/node_modules
assignment3/discord-front/build
assignment3/discord-back/node_modules
assignment3/discord-back/build
assignment3/discord-back/index.js

.DS_Store
*.pem