.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channels-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
