.room-container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-areas:
    "voice cam"
    "voice chat"
    "control chat";
  grid-template-columns: 228px 1fr;
  grid-template-rows: calc(50dvh - 64px) calc(50dvh - 208px) 208px;
  gap: 12px;
  padding: 20px;
}

.voice-area {
  grid-area: voice;
  overflow-y: auto;
}

.control-area {
  grid-area: control;
}

.cam-area {
  grid-area: cam;
  overflow-x: auto;
}

.chat-area {
  grid-area: chat;
}
