.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.login-area {
  width: 320px;
  display: flex;
  gap: 8px;
}